@font-face {
  font-family: Vazirmatn;
  src: url("assest/fonts/ttf/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: iransans;
  src: url("assest/fonts/ttf/IRANSans.ttf");
}
body {
  margin: 0;
  font-family: Vazirmatn !important;
}

div, input, span, a, button, fieldset, label {
  font-family: Vazirmatn !important;
  direction: rtl;
  text-align: right;
}
/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
