@font-face {
  font-family: Vazirmatn;
  src: url("assest/fonts/ttf/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: iransans;
  src: url("assest/fonts/ttf/IRANSans.ttf");
}
body {
  margin: 0;
  font-family: Vazirmatn !important;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*body .MuiBox-root{*/
/*  background-image: linear-gradient(to top, #09203f 0%, #537895 100%) !important;*/
/*}*/
/*.MuiDataGrid-root .MuiDataGrid-root--densityStandard .MuiDataGrid-withBorderColor .MuiDataGridVariables-2354516109 .css-1i1v1sw-MuiDataGrid-root{*/
/*  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%) !important;*/
/*}*/

div, input, span, a, button, fieldset, label {
  font-family: Vazirmatn !important;

}

.rtl{
  direction: rtl;
  text-align: right;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
  /*direction: rtl !important;*/
}
.css-y1ejz4-MuiTablePagination-root {
  direction: rtl !important;
}
.profile-content{
  direction: rtl;
  text-align: right;
}