@font-face {
  font-family: Vazirmatn;
  src: url("assest/fonts/ttf/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: iransans;
  src: url("assest/fonts/ttf/IRANSans.ttf");
}
body {
  margin: 0;
  font-family: Vazirmatn !important;
}

div, input, span, a, button, fieldset, label {
  font-family: Vazirmatn !important;

}
/*.rtl{*/
/*  direction: rtl;*/
/*  text-align: right;*/
/*}*/
/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
.css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
  /*direction: rtl !important;*/
}
.css-y1ejz4-MuiTablePagination-root {
  direction: rtl !important;
}